asttokens
blosc2
certifi
charset-normalizer
colorama
comm
debugpy
decorator
exceptiongroup
executing
filelock
fsspec
google
google-cloud-firestore
huggingface-hub
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
langchain
loguru
matplotlib-inline
mpmath
msgpack
ndindex
nest-asyncio
networkx
numexpr
numpy
openai
packaging
pandas
parso
pillow
platformdirs
prompt-toolkit
psutil
pure-eval
py-cpuinfo
Pygments
pyjnius
python-dateutil
python-rdrsegmenter
pytz
PyYAML
pyvi
pyzmq
qdrant-client
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
six
stack-data
streamlit
streamlit-feedback
sympy
tables
text-highlighter
tokenizers
torch
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
urllib3
vncorenlp
wandb
wcwidth